.home {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", serif;
  font-style: normal;
  color: #ffffff;
}

/* @media (max-width: 850px) {
  .container_a .container_b .container_c {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}


@media (max-width: 850px) {
 .container_b{
    flex-direction: column;
    align-items: center;
    width: 100%;  
  }
}


@media (max-width: 850px) {
  .container_b img{
     flex-direction: column;
     align-items: center;
     width: 50%;   
     margin-top: 15px; 
   }
 }

 @media (max-width: 850px) {
  .container_b .container_b_about {
  margin-left: 0%;
  margin-right: 0%;
  font-size: 10px; 
  padding:0px;
  }
}

@media (max-width: 850px) {
  .container_b .container_b_about p{
  font-size: 10px; 
  
  }
}
@media (max-width:850px) {
  .container_b .container_b_about h2{
  font-size: 15px; 
  }
}


@media (max-width: 850px) {
  .container_c_box{
  flex-direction: column;
  padding: 80px;
  gap:55px;

}
}

@media (max-width: 850px){
  .content .box .contentBx h2{
    font-size: 50px;
  }
} */
