* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerFooter {
  font-family: "Poppins", serif;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  height: 8%;
  margin: 0 auto;
  padding: 10px;
}

.containerFooter p {
  margin-left: 20%;
}

.containerFooter .icon {
  color: #007073;
  font-size: 20px;
  transition: color 0.3s ease-in-out;
  margin-left: 10px;
  margin-right: 10px;
}

.containerFooter .icon:hover {
  color: #0dbdad;
  cursor: pointer;
  position: relative;
}

@media (max-width: 500px) {
  .containerFooter {
    flex-direction: column;
    gap: 5px;

  }

  .containerFooter p {
    margin-left: 0;
  }

}