.button {
    width: 150px;
    height: 40px;
    background-color: #0dbdad;
    border: none;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    color: white;
    position: relative; 
    /* Para permitir que o botão fique em cima dos objetos */
    z-index: 10; 
    cursor: pointer;
}
.button:hover {
    background-color: #007073;
}

@media (max-width: 800px){
    .button{
        margin-right: 50px;
        margin-top: 30px;
    }
}