.container_aboutus{
    background-color: #007073;
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.imgTop{
    width: 100%;
}
.imgTop img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 20% 33%;
    opacity: 0.8;
}
.textTopic {
    width: 50%;
    height: 200px;
    color: white;
    text-align: justify;
    margin-top: 25px;
}
.textTopic p {
    margin-top: 20px;
    font-size: 13px;
}

.imgTopic{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 48%;
    height: 200px;
    margin-bottom: 20px;
}
.imgTopic img {
    width: 100%;
    height: 198px;
    object-fit: cover;
    padding: 5px;
    border-radius: 15px;
    opacity: 0.8;
    transition: transform 0.3s ease;
}
.imgTopic img:hover{
    transform: scale(1.1); 
}